<html>
<body style="font-family: Arial, sans-serif; font-size:14px;">

<p>Dear {{name}},</p>

<p>
After reviewing our FORM GSTR-2B for FY 25-26, it has been observed that input credit 
of EW/EWP Claim invoices (mentioned below) are still not reflecting in GSTR-2B.
</p>

<p>
So, we are unable to claim the GST input Credit for the same.
</p>

<p>
We will start deducting the GST amount from the next claim payment.
</p>

<p>
If you have any query regarding the same, please contact finance team 
(Mr Ravinder Sharma Mob. 9667001089)
</p>

<p><b>Below are the Invoice details:</b></p>

{{table}}

<p>
In view of the above, it is requested to Submit/Amend the return immediately 
to enable us to claim the ITC.
</p>

<p>
An early action in this regard will be highly appreciated.
</p>

<p>Regards,<br>Claims Team</p>

</body>
</html>